@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Home Page</h1>
    <p>I will be using this home page for more testing. This will be my Home, default page.</p>
</div>